*{
    margin: 0;
    padding:0;
}
body{
    min-height:100vh;
    background-image:url(background.jpg);
    background-size: cover;
    background-repeat:no-repeat;

}
nav{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(21, 119, 117, 0.908);
}
nav ul{
    width: 100%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding:0 05px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color:black;
}

nav a:hover{
    background-color:#b69b9b; 
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.132);
    backdrop-filter:blur(5px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar{
    width:40%;
}

.sidebar a{
    width: 100%;

}

.menu-button{
    display: none;
}


@media(max-width:800px)
{
    .hideonmobile{
        display:none;
    }
    .menu-button{
        display:block;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100%;
    }
}